@import '../fonts.module.scss';


.profileInfoWrapper {
    margin: 20px;
    position: relative;
    display: flex;
    width: 460px;
    justify-content: space-between;
    align-items: center;
}

.name {
    background-color: white;
    width: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include mainfont;
    h3 {
        font-size: 20px;
        font-weight: 600;

    }
    p {
        font-size: 16px;
        font-weight: 300;
        opacity: .8;
    }
}

.avatar {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    img {
        width: 100%;
        object-fit: cover;
    }
}

.content {
  height: 100%;
  background-color: #666666;
  grid-area: c;
  position: relative;
  overflow: auto;
}


.backgroundImage {
  // position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: .8;
  object-fit: cover;
}

.imageWrapper {
  top: 0;
  overflow: hidden;
  position: sticky;
  height: 100%;
}

.profileWrapper {
  width: 100%;
  position: absolute;
  overflow: auto;
  top: 0;

}