@import '../../fonts.module.scss';

.textArea {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    width: 460px;
    min-height: 120px;
    @include mainfont;
    // border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    overflow: hidden;
    button {
        margin: 0px;
    }
    textarea {
        @include mainfont;
        font-size: 16px;
        font-weight: 400;
        padding: 20px;
        width: calc(100% - 40px);
        border-radius: 10px;
        resize: none;
        height: 200px;
        &:focus-visible {
            outline: none;
        }

        // height: calc(100% - 40px);
    }
}

.postsFlow {
    position: relative;
    max-width: 750px;
    width: 100%;
    border-radius: 20px;
    background-color: rgba(255, 228, 196, 0.233);
    padding: 20px;
}

.postItem {
    @include mainfont;
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
    padding: 20px;
    position: relative;
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    min-height: 40px;
    min-width: calc(100% - 40px);
    background-color: beige;
    border-radius: 20px;

}

.likes {
    p{
        @include mainfont;
        font-size: 14px;
        line-height: 20px;
        font-weight: 800;
        margin: 0;
    }
    display: flex;
    width: 40px;
    height: 16px;
    justify-content: space-around;
    position: absolute;
    right: 20px;
    bottom: 10px;


}

// margin-left: 20px;
//     padding: 15px;
//     border-radius: 10px;
//     max-width: 400px;
//     background-color: white;
//     color: black;
//     position: relative;