.header {
    grid-area: h;
    background-color: rgb(128, 126, 0);
    img {
      width: 50px;
    }
  }

.loginBlock {
  float: right;
  margin-right: 5vw;
  width: 50px;
  height: 20px;
  background-color: green;
  a{
    color: white;
    text-decoration: none;
    line-height: 20px;
    text-align: center;
    
  }

}
  
